
@font-face {
  font-family: 'avenir';
  src: url('../../fonts/Avenir-Roman.otf') format('otf');
}

@font-face {
  font-family: 'avenir-heavy';
  src: url('../../fonts/Avenir-Heavy.otf') format('otf');
}

@font-face {
  font-family: 'avenir-book';
  src: url('../../fonts/Avenir-Book.otf') format('otf');
}

