{{ attach_library('momentum2018/section-title') }}
<div class="section-title">
  {{ title }}

  {% if content %}
  <div class="section-title__content">
     {{ content }}
  </div>
  {% endif %}

</div>